.bot {
    margin-top: 250px;
}
.bar {
    position: fixed;
    width: 15px;
    height: 7px;
    background-color: #ff3333;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 99;
}
  